@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
body {
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: #141414;
}
div.flipdown {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Acme", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1mm;
  text-align: center;
  color: #ffffff;
}

div.container{
  margin-top: 20svh;
}
span.thanwaya {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: capitalize;
  color: #1e4f80;
}
span.def {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  font-weight: 700;
}

div.end {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative;
  top: 30px;
}
#demo {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}
#demo::before {
  content: ".";
  visibility: hidden;
}
#demo:after {
  content: ".";
  visibility: hidden;
}
.ldBar::after{
  content: ".";
  visibility: hidden;
}
.ldBar path.mainline {
  stroke-width: 1.9;
  /* stroke: #FE2A44; */
  /* stroke: linear-gradient(#4440F9 , #4285F4); */
  /* stroke: linear-gradient(#4440F9 , #4285F4); */
  /* background : linear-gradient(#4440F9 , #4285F4) !important; */
  stroke-linecap: round;
}
.ldBar path.baseline {
  stroke-width: 3.1;
  stroke: rgb(142, 178, 255);
  opacity: 0.2;
  stroke-linecap: round;
  filter: url(#custom-shadow);
  -webkit-filter: url(#custom-shadow);
}
div.ldBar-label {
  opacity: 0;
}
#txt {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 4.5px;
  color: #b8b8b8;
}



.footer{
          opacity: 0.5;
          font-size: 10px;
          text-align: center;
          font-family: "Poppins", sans-serif;
          letter-spacing: 4.5px;
          margin-top: 10px;
          transform: translateY(-1svh);
          -webkit-transform: translateY(-1svh);
          -moz-transform: translateY(-1svh);
          -ms-transform: translateY(-1svh);
          -o-transform: translateY(-1svh);
}


a{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.all{
      transform: translateY(-36svh);
      -webkit-transform: translateY(-36svh);
      -moz-transform: translateY(-36svh);
      -ms-transform: translateY(-36svh);
      -o-transform: translateY(-36svh);
}
.footer-x{
      text-align: center;
      font-family: "Poppins", sans-serif;
      letter-spacing: 4.5px;
      margin: 2svh;
      font-weight: 400;
      font-size: 20px;
      transform: translateY(-10svh);
      -webkit-transform: translateY(-10svh);
      -moz-transform: translateY(-10svh);
      -ms-transform: translateY(-10svh);
      -o-transform: translateY(-10svh);
}
@media screen and (min-width:300px) and (max-width: 450px) {
  #demo{
    font-size: 40px;
  }
  #txt{
      font-size: 20px;
  }
}